@model _5510_final_project_Forum.Models.ForumView.ForumIndexModel
<style>
    /* Microsoft-themed CSS for the second table */
    #forumIndexTable {
        width: 100%;
        margin-bottom: 1rem;
        color: #333;
        background-color: #fff;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

        #forumIndexTable tbody tr:hover {
            background-color: #f5f5f5;
        }

        #forumIndexTable th,
        #forumIndexTable td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        #forumIndexTable thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            background-color: #f8f9fa;
        }

        #forumIndexTable tbody + tbody {
            border-top: 2px solid #ddd;
        }

        #forumIndexTable .table {
            background-color: #fff;
        }

        button:hover {
            background-color: #3367d6;
        }
</style>
<h1>Forums Boards</h1>
<table class="table table-hover" id=" = "forumIndexTable>
    <tboy>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                        @forum.Name
                    </a>
                </td>
                <td>
                    @forum.Description
                </td>
                <td>
                    <img src=@forum.ImageUrl style ="max-width: 100px; max-height: 120px;">
                </td>
            </tr>
        }
    </tboy>
</table>