@model _5510_final_project_Forum.Models.ForumView.ForumIndexModel

<h1>Forums</h1>
<table class="table table-hover" id=" = "forumIndexTable>
    <tboy>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                        @forum.Name
                    </a>
                </td>
                <td>
                    @forum.Description
                </td>
                <td>
                    @forum.ImageUrl
                </td>
            </tr>
        }
    </tboy>
</table>