@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="window.location.href='https://localhost:7297/Forum'">Go to The Forum</button>
    <button onclick="window.location.href='https://localhost:7297/Subscriptions'">Go to The Subscription</button>
</div>
