@model _5510_final_project_Forum.Models.Subscription
<style>
    body {
        background: linear-gradient(to right, white, #2E81DA); /* Adjust colors as needed */
        font-family: 'Arial', sans-serif;
    }

    .text-center {
        text-align: center;
        color: #4285f4; /* Set text color to white for better visibility on the gradient background */
    }

    .display-4 {
        color: #4285f4; /* Set text color to white for better visibility on the gradient background */
    }

    button {
        background-color: #4285f4;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        button:hover {
            background-color: #3367d6;
        }
</style>
@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<h4>Payment</h4>
<h3>@Model.Plan</h3>
<h3>@Model.Duration</h3>
<hr />
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <input asp-for="PaymentId" class="form-control" />
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
