@model _5510_final_project_Forum.Models.ViewModels.PaymentViewModel
<style>
    body {
        

        font-family: 'Arial', sans-serif;
    }

    .text-center {
        text-align: center;
        color: #4285f4; /* Set text color to white for better visibility on the gradient background */
    }

    .display-4 {
        color: #4285f4; /* Set text color to white for better visibility on the gradient background */
    }

    button {
        background-color: #4285f4;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .form-group {
        margin-top:20px;
    }

        button:hover {
            background-color: #3367d6;
        }
</style>
@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>
<hr />
<h2>Total Cost: @Model.Subscription.Cost CAD</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="radio-btn-grp">
                <label asp-for="CreditCard.Type" ></label>
                <div class="form-check">
                    <input asp-for="CreditCard.Type" class="form-check-input" type="radio" value="MasterCard" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">MasterCard</label>
                </div>
                <div class="form-check">
                    <input asp-for="CreditCard.Type" class="form-check-input" type="radio" value="VISA" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">VISA</label>
                </div>
                <div class="form-check">
                    <input asp-for="CreditCard.Type" class="form-check-input" type="radio" value="American Express" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">American Express</label>
                </div>
                <span asp-validation-for="CreditCard.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.CreditCardId" class="control-label"></label>
                <input asp-for="CreditCard.CreditCardId" class="form-control" />
                <span asp-validation-for="CreditCard.CreditCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.CardholderName" class="control-label"></label>
                <input asp-for="CreditCard.CardholderName" class="form-control" />
                <span asp-validation-for="CreditCard.CardholderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.ExpiryDate" class="control-label"></label>
                <input asp-for="CreditCard.ExpiryDate" class="form-control" id="ExpiryDate" oninput="formatExpiryDate()"/>
                <span asp-validation-for="CreditCard.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.Cvv" class="control-label"></label>
                <input asp-for="CreditCard.Cvv" class="form-control" />
                <span asp-validation-for="CreditCard.Cvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br/>
    <a asp-action="Index">Back to Subscription Plans</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function formatExpiryDate() {
            var expiryDate=document.getElementById("ExpiryDate");
            if (expiryDate.value.length==2) {
                expiryDate.value = expiryDate.value + "/";
            }
        }
    </script>
}
